@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@custom-variant dark (&:where(.dark, .dark *));

@import "tailwindcss";

@theme {
    --font-inter: "Inter", sans-serif;
    --color-para: #192335;
    --breakpoint-*: initial;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1280px;
    /* Colors */
    --color-darkMain: #192335;
    --color-secondary: #25C6DA;
    --color-btnColor: #2F57EF;
    --color-newsletterBg: #00D09C;
    /* Background Images */
    --background-image-vector: url('../src/images/herobg.png');
    --background-image-footer: url('../src/images/footerbg.png');
}

@layer utility {
    .container {
        margin: auto;
    }
}

.HeroBackground {
    background-image: url(/Images/BannerLine.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footerImg {
    background-image: url(/Images/Footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.header-container {
    @apply max-w-[1664px] mx-auto px-4
}