@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
    --font-inter: "Inter", sans-serif;
    --breakpoint-*: initial;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1280px;
}

@utility container {
    margin-inline: auto;
}

body {
    font-family: var(--font-inter);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    background-image: url('../src/Images/Footer.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
}

.bannerImg {
    background-image: url('../src/Images/BannerLine.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
}